*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;

   }

/*header index  */
ul {
    list-style-type: none;
    text-align: center

}

ul li{ 
    margin: 0 auto;
    border-left: 2px solid; /* barre de separation entre les elements*/
    display: inline-flex;
    padding: 0 10px;
    text-decoration: none;
    margin-left: 70px;
}

.accueil{
    text-decoration: none;
    color: white;
    padding: 0px 15px;
    ;
}

.accueil:hover{

    background-color: white;
    color: rgb(231, 14, 14);
    border-radius: 12px
}
nav{
    background-color: blue;
    padding: 2px;
    position: relative;

}

.header_buttons {
    text-decoration: none;
    color: white;
    padding: 0px 15px;
}

.header_buttons:hover{
    background-color: white;
    color: rgb(7, 127, 67); 
    border-radius: 12px
}

/*header index  */

/* home */
h1 {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
}

.profile img {
    border-radius: 50%;
    width: 150px;
}

.social-links ul {
    list-style-type: none;
    padding: 0;
      }

.social-links a {
    text-decoration: underline;
    text-decoration: none;
    color: #4CAF50;
       }
 

.btn {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
	 

	 
#one:hover { color: green;
           background: black; 
           font-size:30px;
		   text-decoration: none
                 
        }
		   
#two:hover { color: red;
           background: black; 
           font-size:30px;
		   text-decoration: none
           }
		   
#tree:hover { color: yellow;
           background: black; 
           font-size:30px;
		   text-decoration: none
            }
		   
		   
.background {
    background-image: url('https://img.pikbest.com/wp/202344/autumn-leaves-gorgeous-tree-texture-a-captivating-nature-shot-for-seasonal-backgrounds_9927157.jpg!w700wp'); /* Remplacez par votre image */
    background-size: cover; /* Couvre l'ensemble de l'élément */
    background-repeat: no-repeat; /* Ne répète pas l'image */
    background-position: center; /* Centre l'image */
    background-attachment: fixed; /* Fixe l'image en arrière-plan */
    height: 100vh; /* Hauteur de la fenêtre */
    color: white; /* Couleur du texte */
    display: flex; /* Pour centrer le contenu */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
	text-align: center; /* Centre le texte */}
    


p {
    color: blue; /* Rendre le texte blue */
}

/* home */

footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
    margin-top: 50px; /* définir l'espace (marge) au-dessus */
}

/* Properties */
@media screen and (max-width: 480px) {
    /* header */

header{
    padding: 10% 3; 
    width: 100%; 
    margin-bottom: 5% 
}

nav{
    background-color: green
  
}
ul li{ 
    font-size: 10px;
    margin: 10 0px;
    margin-left: 5px;
}
nav ul img {
    width: 30px;
    height: auto
}

}